<ul class="results">
  <li class="preview">
    <a href="#664c8f193e7aa067e94e8355">recipe 1</a>
    <a href="#664c8f193e7aa067e94e8610">recipe 2</a>
    <!-- <a class="preview__link" href="#664c8f193e7aa067e94e8706">
      <figure class="preview__fig">
        <img
          src="http://forkify-api.herokuapp.com/images/BBQChickenPizzawithCauliflowerCrust5004699695624ce.jpg"
          alt="Cauliflower Pizza Crust (with BBQ Chicken Pizza)"
        />
      </figure>
      <div class="preview__data">
        <h4 class="preview__title">
          Cauliflower Pizza Crust (with BBQ Chicken Pizza)
        </h4>
        <p class="preview__publisher">Closet Cooking</p>
        <div class="preview__user-generated hidden">
          <svg>
            <use href="[object Object]#icon-user"></use>
          </svg>
        </div>
      </div>
    </a> -->
  </li>
</ul>
