<header class="topbar">
  <div class="topbar__logo">
    <img
      src="/content/dam/newsportal/forkify/logo.png"
      alt="Logo"
      class="topbar__logo-img"
    />
  </div>
  <form class="topbar__search">
    <input type="text" class="topbar__search-input" placeholder="Search..." />
    <button type="submit" class="topbar__search-btn">
      <svg class="topbar__search-icon">
        <use href="path/to/icons.svg#icon-search"></use>
      </svg>
      <span>Search</span>
    </button>
  </form>
  <button class="topbar__bookmark-btn">
    <svg class="topbar__bookmark-icon">
      <use href="path/to/icons.svg#icon-bookmark"></use>
    </svg>
    <span>Bookmarks</span>
  </button>
</header>
<script
  type="module"
  src="/apps/newsportal/clientlibs/clientlib-forkify/js/controller.js"
></script>
