<header class="topbar">
  <div class="topbar__logo">
    <img
      src="/content/dam/newsportal/forkify/logo.png"
      alt="Logo"
      class="topbar__logo-img"
    />
  </div>
  <form class="topbar__search">
    <input type="text" class="topbar__search-input" placeholder="Search..." />
    <button type="submit" class="topbar__search-btn">
      <svg class="topbar__search-icon">
        <use href="/content/dam/newsportal/forkify/icons.svg#icon-search"></use>
      </svg>
      <span>Search</span>
    </button>
  </form>
  <div class="topbar__bookmark-container">
    <button class="topbar__bookmark-btn">
      <svg class="topbar__bookmark-icon">
        <use
          href="/content/dam/newsportal/forkify/icons.svg#icon-bookmark"
        ></use>
      </svg>
      <span class="topbar__bookmark-text">Bookmarks</span>
    </button>
    <div class="topbar__bookmark-tooltip">
      <span>Bookmark Recipe</span>
      <div id="bookmarksList" class="topbar__bookmark-list"></div>
    </div>
  </div>
</header>
